<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>The Grind</title>
</head>
    <body>
        <header>
            <div class="header-wrapper">
                <div class="header-title">
                    <h1>The Grind Coffee and Video Games</h1>
                </div>
                <div class="menu">
                    <div class="menu-item">
                        <a href="/about">About</a>
                    </div>
                    <div class="menu-item">
                        <a href="/menu">Menu</a>
                    </div>
                    <div class="menu-item">
                        <a href="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </header>
        <main role="main">
            <div class="wrapper">
                {{{ body }}}
            </div>
        </main>
        <footer></footer>   
    </body>
</html>