<div id="app"></div>
<!DOCTYPE html>
<html>
<title>The Grind - About</title>
<body>

<h1>About The Grind</h1>
<p style="color:maroon">
    The Grind is going to be a modern coffee shop/lounge that will open around the time 2030 (Nothing is set yet that is just an estimate.) I chose the name because you obviously have to grind coffee to make coffee unless you are thinking of chocolate covered coffee or something else like that. I also chose the name because it’s going to have a video game lounge and when you are serious about video games and you play for a long time it is called “grinding.” 
</p>

</body>
</html>