<div id="app"></div>
<html>
<head>
<style>
    h1 {
        text-align: center;
    }
</style>
</head>
<body>

<h1>The Grind</h1>
<p>Hours</p>
<p>Mon - CLOSED</p>
<p>Tue through Fri - 8:00 am through 4 p.m</p>
<p>Sat + Sun - 8:00 a.m through 5:45 p.m</p>
</body>
</html>